.body-overlay(js-close-navigation)
%nav.mobile-navigation(js-mobile-navigation)
  %a.mobile-navigation--link(href="#splash" title="Home") Home
  %a.mobile-navigation--link(href="#schedule" title="Schedule") Schedule
  %a.mobile-navigation--link(href="#transportation" title="Transportation") Transportation
  %a.mobile-navigation--link(href="#venue" title="Venue / Map") Venue / Map
  %a.mobile-navigation--link(href="#prizes" title="Prizes") Prizes
  %a.mobile-navigation--link(href="#resources" title="Resources") Resources
