%section.section-padding.container.prizes-container#prizes
  %h2.section-header
    %span.section-header--label Prizes
  
  .prizes
    .prize
      %h3.prize--category HackingEDU EDTech Champions
      %ul.prize--list
        %li 500 Startups Interview 
        %li ATT Aspire Accelerator in person interview 
        %li Oculus DK2s 
        %li $5000 scholarship from Draper University (per applicant accepted) 
        %li Hackster Goodie Bag: Microcontroller, T-shirt, Stickers 
        %li Mentorship from NFL
    .prize
      %h3.prize--category HackingEDU 2nd Place Winner
      %ul.prize--list
        %li Interview and dinner with GSV Labs Staff 
        %li Interview with Learn Capital 
        %li BT Controller & Speakers 
        %li Emotive Headset 
        %li Roblox Swag bag: ROBLOX Swag Bag: Beanie, Water Bottle, T-Shirt 
        %li Draper: Teams 3 & 2 receive $3,500 off tuition(per applicant accepted) 
        %li Mentorship from NFL
    .prize
      %h3.prize--category HackingEDU 3rd Place Runner up Prize
      %ul.prize--list
        %li Interview with Draper University
        %li Dinner with MakeSchool Founders 
        %li Particle Boards 
        %li Muse Headset 
        %li Galvanize: Free desk space, diversity scholarship prize 
        %li HTC Phone
        %li Draper: Teams 3 & 2 receive $3,500 off tuition(per applicant accepted) 
        %li Mentorship from NFL
    .prize
      %h3.prize--category HackingEDU 3rd Place Runner up Prize
      %ul.prize--list
        %li Up to $5000 of Chegg Services(per member), which includes: 1 Year free Chegg Textbooks,1 Year free Chegg Study (Textbook Solutions), 4 hours of tutoring with Chegg Tutors
    .prize
      %h3.prize--category  Best use to the Wolfram Technologies
      %ul.prize--list
        %li TRIP TO NYC for top team to Present Hack at Ignite Disrupt Edtech Conference
        %li One year of Wolfram Programming Cloud Developer Level 
        %li One year of Wolfram Mathematica Online 
        %li One year of Wolfram|Alpha Pro for everyone on those teams
    .prize
      %h3.prize--category #SocialGoodHack KPCB
      %ul.prize--list
        %li Finalist Position for KPCB Fellowship Position
    .prize
      %h3.prize--category HackingEDU: Best Use of IBM Bluemix
      %ul.prize--list
        %li $4,000
    .prize 
      %h3.prize--category Most Creative use of Target API
      %ul.prize--list
        %li $2,000
    .prize
      %h3.prize--category NameCheap Best Domain Main Prize
      %ul.prize--list
        %li $150 of Namecheap credits.
    .prize
      %h3.prize--category Coolest Pebble Hack
      %ul.prize--list
        %li Pebble Times for top 2 teams
    .prize
      %h3.prize--category #bestuseofMYO
      %ul.prize--list 
        %li 4 Myos for Top team
    .prize
      %h3.prize--category  Best use of Dolby
      %ul.prize--list 
        %li Sennheiser Game One headsets (for each team member)
    .prize
      %h3.prize--category GlobalCommit: Social Good Award 
      %ul.prize--list 
        %li $100 gift cards (google play, itunes)
    .prize
      %h3.prize--category  Automattic Social Good Prize
      %ul.prize--list 
        %li Apple Watches for the Team
    .prize
      %h3.prize--category  Automattic Social Good Prize
      %ul.prize--list 
        %li Apple Watches for the Team
    .prize
      %h3.prize--category  Best use of Clusterpoint
      %ul.prize--list 
        %li $5,000
    .prize
      %h3.prize--category  Rubicon:Bring your Javascript, app development and big data experience and automate advertising
      %ul.prize--list 
        %li First Prize: $1,000 Amazon Gift Card+Interview with Rubicon Project 
        %li Second Prize: $500 Amazon Gift Card+Interview with Rubicon Project 
        %li Third Prize (2 count): $250 Amazon Gift Card each + Interviews with Rubicon Project
    .prize
      %h3.prize--category  Best use of Braintree API
      %ul.prize--list 
        %li Keyboards for members of the team
    .prize
      %h3.prize--category  Design the Future of WikiHow
      %ul.prize--list 
        %li Hosted lunch with the CEO of WikiHow
    .prize
      %h3.prize--category  Best Leap Motion Hack
      %ul.prize--list 
        %li Leap Motion for everyone on the top 2 Teams.
    .prize
      %h3.prize--category  Best Use of Linode
      %ul.prize--list 
        %li Raspberry Pi 2s for each team member.
    .prize
      %h3.prize--category  Best Use of Twist
      %ul.prize--list 
        %li $500
    .prize
      %h3.prize--category  Best use of Twilio API
      %ul.prize--list 
        %li Wearable sleeping bag suit.
    .prize
      %h3.prize--category  Best Collaboration Hack using Moxtra SDK/API
      %ul.prize--list 
        %li $1000
    .prize
      %h3.prize--category  Best Distracted Driver App
      %ul.prize--list 
        %li $50 Gift Cards
