%section.section-padding.container.prizes-container#prizes
  %h2.section-header
    %span.section-header--label Prizes
  
  .prizes
    .prize
      %h3.prize--category HackingEDU EDTech Champions
      %ul.prize--list
        %li 500 Startups Interview 
        %li ATT Aspire Accelerator in person interview 
        %li Oculus DK2s 
        %li $5000 scholarship from Draper University (per applicant accepted) 
        %li Hackster Goodie Bag: Microcontroller, T-shirt, Stickers 
        %li Mentorship from NFL
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
    .prize
