%section.section-padding.container#resources
  %h2.section-header
    .section-header--label Resources & Guides
  .resources
    .resources--item
      .centered.resources--item-icon(data-icon="speaker")
      %h2 Speaker Guide
      %p.resources--item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, praesentium. Consectetur adipisicing elit, illum, praesentium.
      %a(href="https://drive.google.com/file/d/0BzI2Lz_qv89jMFVsRXM1R012cUE/view") Speaker Guide (PDF)

    .resources--item
      .centered.resources--item-icon(data-icon="sponsor")
      %h2 Sponsor Guide
      %p.resources--item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, praesentium. Consectetur adipisicing elit, illum, praesentium.
      %a(href="https://drive.google.com/file/d/0B5LhVy_zkvWqZHJFTkExbUdNa0k/view") Sponsor Guide (PDF)

    .resources--item
      .centered.resources--item-icon(data-icon="judge")
      %h2 Judge Guide
      %p.resources--item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, praesentium. Consectetur adipisicing elit, illum, praesentium.
      %a(href="https://drive.google.com/file/d/0BzI2Lz_qv89jR3hrSEJ4ZU5JejA/view") Judge Guide (PDF)

  .resources
    .resources--item
      .centered.resources--item-icon(data-icon="code")
      %h2 API & Platform Resources
      %p.resources--item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, praesentium. Consectetur adipisicing elit, illum, praesentium.
      %a(href="https://drive.google.com/file/d/0B5LhVy_zkvWqdm1URnhKQTdXUXc/view") API & Platform Resources (PDF)

    .resources--item
      .centered.resources--item-icon(data-icon="schedule")
      %h2 Schedule
      %p.resources--item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, praesentium. Consectetur adipisicing elit, illum, praesentium.
      %a(href="https://drive.google.com/file/d/0BzI2Lz_qv89jWnE5TlF5Sm5ScXM/view") Schedule (PDF)

    .resources--item
      .centered.resources--item-icon(data-icon="press")
      %h2 Press Guide
      %p.resources--item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, praesentium. Consectetur adipisicing elit, illum, praesentium.
      %a(href="https://drive.google.com/file/d/0B5LhVy_zkvWqdjgzUW1WMU5laUE/view") Press Guide (PDF)

  .resources
    .resources--item
      .centered.resources--item-icon(data-icon="slack")
      %h2 HackingEDU Hackathon Slack
      %p.resources--item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, praesentium. Consectetur adipisicing elit, illum, praesentium.
      %a(href="https://hackingeduhackathon.slack.com/") Join our Slack Channel

    .resources--item
      .centered.resources--item-icon(data-icon="pin")
      %h2 Venue Location
      %p.resources--item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, praesentium. Consectetur adipisicing elit, illum, praesentium.
      %a(href="https://www.google.com/maps/place/San+Mateo+County+Event+Center/@37.5463881,-122.3059452,17z/data=!4m7!1m4!3m3!1s0x808f9efcf05475a3:0x7d50c6f6710309d!2sSan+Mateo+Event+Center!3b1!3m1!1s0x808f9ee3b7d9b983:0x168a111f000c46ef") Venue Location
