%section.section-padding.container#resources
  %h2.section-header
    .section-header--label Resources & Guides
  .resources
    .resources--item
      .centered.resources--item-icon(data-icon="speaker")
      %h2 Speaker Guide
      %p.resources--item-description This is for the speakers to use for a reference when preparing for HackingEDU.
      %a(href="https://drive.google.com/file/d/0BzI2Lz_qv89jMFVsRXM1R012cUE/view") Speaker Guide (PDF)

    .resources--item
      .centered.resources--item-icon(data-icon="sponsor")
      %h2 Sponsor Guide
      %p.resources--item-description The sponsor guide is used to prepare sponsors leading up to and day of the HackingEDU Hackathon.
      %a(href="https://drive.google.com/file/d/0B5LhVy_zkvWqZHJFTkExbUdNa0k/view") Sponsor Guide (PDF)

    .resources--item
      .centered.resources--item-icon(data-icon="judge")
      %h2 Judge Guide
      %p.resources--item-description The judging guide is used to prepare finalist judges as well as demo judges leading up to and day of the HackingEDU Hackathon.
      %a(href="https://drive.google.com/file/d/0BzI2Lz_qv89jR3hrSEJ4ZU5JejA/view") Judge Guide (PDF)

  .resources
    .resources--item
      .centered.resources--item-icon(data-icon="wifi")
      %h2 WIFI
      %p.resources--item-description Free, fast internet to use while you revolutionize education.
      .flex-container
        %div
          %strong Network
          %div HackingEdu
        %div
          %strong Password
          %div cheggrocks

    .resources--item
      .centered.resources--item-icon(data-icon="code")
      %h2 API & Platform Resources
      %p.resources--item-description This doc shows all the available APIs for the sponsors who will be attending the hackathon.
      %a(href="https://drive.google.com/file/d/0B5LhVy_zkvWqdm1URnhKQTdXUXc/view") API & Platform Resources (PDF)

    .resources--item
      .centered.resources--item-icon(data-icon="schedule")
      %h2 Schedule
      %p.resources--item-description This is the PDF version of our schedule.  It also has links to the facebook events for each workshop.
      %a(href="https://drive.google.com/file/d/0BzI2Lz_qv89jWnE5TlF5Sm5ScXM/view") Schedule (PDF)

  .resources
    .resources--item
      .centered.resources--item-icon(data-icon="slack")
      %h2 HackingEDU Hackathon Slack
      %p.resources--item-description The HackingEDU Hackathon Slack is used for team communications, meeting hackers, asking for help from sponsors, mentors, and much more!
      %a(href="https://hackingeduhackathon.slack.com/") Join our Slack Channel

    .resources--item
      .centered.resources--item-icon(data-icon="pin")
      %h2 Venue Location
      %p.resources--item-description The venue is located at the San Mateo County Event Center.
      %a(href="https://www.google.com/maps/place/San+Mateo+County+Event+Center/@37.5463881,-122.3059452,17z/data=!4m7!1m4!3m3!1s0x808f9efcf05475a3:0x7d50c6f6710309d!2sSan+Mateo+Event+Center!3b1!3m1!1s0x808f9ee3b7d9b983:0x168a111f000c46ef") Venue Location

    .resources--item
      .centered.resources--item-icon(data-icon="press")
      %h2 Press Guide
      %p.resources--item-description This lets the press know what the best times to be at the event are.
      %a(href="https://drive.google.com/file/d/0B5LhVy_zkvWqdjgzUW1WMU5laUE/view") Press Guide (PDF)

