%section.container.schedule#schedule
  %h2.section-header
    %span.section-header--label Schedule
    %span Friday, October 23rd
  %table.schedule--table
    %tbody
      %tr(m-event-small)
        %td 6:00 PM
        %td Doors Open
        %td

      %tr
        %td 6:00 - 8:00 PM
        %td Dinner
        %td West Food Area

      %tr
        %td 6:30 - 7:30 PM
        %td Team Building
        %td N Stage

      %tr
        %td(colspan="3")
          %h3.schedule--table-label Opening Talks

      %tr(m-event-keynote)
        %td 7:30 - 8:00 PM
        %td
          %small Fireside Chat
          %div Sam Altman - President, Y Combinator
        %td Main Stage

      %tr(m-event-keynote)
        %td 8:00 - 9:00 PM
        %td
          %small Hackathon Founders Panel
          %div
            %a(href="https://www.facebook.com/events/1722589621294529/" title="Hackathon Founders Panel") Idea to Reality: How to Start a Hackathon
        %td Main Stage

      %tr
        %td(colspan="3")
          %h3.schedule--table-label API Demos

      %tr(m-event-multiple)
        %td 9:00 - 9:15 PM
        %td Building quickly and easily on IBM Bluemix
        %td N Stage

      %tr
        %td 
        %td How to build a Pebble App in 5 minutes
        %td S Stage

      %tr(m-event-multiple)
        %td 9:20 - 9:35 PM
        %td Automattic / WordPress.com API
        %td Main Stage

      %tr(m-event-multiple)
        %td 
        %td Designing High scale, low latency systems
        %td N Stage

      %tr
        %td 
        %td Capital One API
        %td S Stage

      %tr(m-event-multiple)
        %td 9:40 - 9:55 PM
        %td Clusterpoint Cloud
        %td N Stage

      %tr
        %td 
        %td Target APIs
        %td S Stage

      %tr(m-event-multiple)
        %td 10:00 - 10:15 PM
        %td Hack with Chegg!
        %td Main Stage

      %tr(m-event-multiple)
        %td 
        %td Getting Started With Twilio
        %td N Stage

      %tr
        %td 
        %td Up & Running with Backand
        %td S Stage

      %tr(m-event-multiple)
        %td 10:20 - 10:35 PM
        %td Make Your App Speak
        %td N Stage

      %tr
        %td 
        %td Braintree API Demo
        %td S Stage

      %tr(m-event-keynote)
        %td 10:40 - 11:10 PM
        %td
          %small Surprise Opening Ceremony Keynote
          %div 
        %td Main Stage
      
      %tr(m-event-keynote)
        %td 11:10 - 11:20 PM
        %td
          %small Opening Ceremony & Keynote
          %div Mike Osier - CIO, Chegg
        %td Main Stage

      %tr
        %td(colspan="3")
          %h3.schedule--table-label Hacking Commences

      %tr
        %td 12:00 AM
        %td Midnight Snack
        %td West & East Food


      %tr
        %td(colspan="3")
          %h3.schedule--table-label Introductory Workshops

      %tr(m-event-multiple)
        %td 12:00 - 12:45 AM
        %td Intro HTML/CSS
        %td N Stage

      %tr
        %td 
        %td Intro iOS
        %td S Stage

      %tr(m-event-multiple)
        %td 1:00 - 1:45 AM
        %td Rapid Prototyping with Flexbox
        %td N Stage

      %tr
        %td 
        %td Intro Python
        %td S Stage

      %tr(m-event-multiple)
        %td 2:00 - 2:45 AM
        %td Building Your First Pebble App
        %td N Stage

      %tr
        %td 
        %td Intro JavaScript
        %td S Stage

      %tr(m-event-small)
        %td 3:00 AM
        %td Napathon Halls Open
        %td N & S Stage

  %h2.section-header
    %span Saturday, October 24th
  %table.schedule--table
    %tbody
      %tr(m-event-small)
        %td 8:00 - 10:00 AM
        %td Breakfast
        %td West & East Food Areas

      %tr
        %td(colspan="3")
          %h3.schedule--table-label Morning Workshops

      %tr(m-event-multiple)
        %td 9:15 - 9:45 AM
        %td Learn How to Setup Your Own Server & Utilize Linode's Services
        %td N Stage

      %tr
        %td 
        %td Teaching Through Play
        %td S Stage

      %tr(m-event-multiple)
        %td 10:00 - 10:45 AM
        %td CiFilter Animations and the New 3D Touch
        %td N Stage

      %tr
        %td 
        %td Disrupting Education: Leveraging IBM Watson on Bluemix
        %td S Stage

      %tr(m-event-keynote)
        %td 11:00 - 11:30 AM
        %td Morning Keynote: Jack
        %td Main Stage

      %tr(m-event-multiple)
        %td 11:30 AM - 12:00 PM
        %td How to Utilize Dolby Audio for Android apps and HTML5
        %td N Stage

      %tr
        %td 
        %td React.js & Websockets using Twilio
        %td S Stage

      %tr(m-event-small)
        %td 12:00 - 2:00 PM
        %td Lunch
        %td West & East Food Areas

      %tr(m-event-keynote)
        %td 1:00 - 2:00 PM
        %td
          %small Panel
          %div
            %a(href="https://www.facebook.com/events/1722589621294529/" title="From Concept to Reality") From Concept to Reality
        %td N Stage

      %tr
        %td 12:00 - 8:00 PM
        %td Linode Presents: Nerf Gun Tag & Bubble Ball Soccer!
        %td Field Area

      %tr
        %td 2:00 - 6:00 PM
        %td HackerRank Codesprint
        %td 

      %tr
        %td(colspan="3")
          %h3.schedule--table-label Afternoon Workshops

      %tr(m-event-multiple)
        %td 2:00 - 2:45 PM
        %td Exposition to Target Products
        %td S Stage

      %tr
        %td 
        %td D3.js, Intro to Web Based Data Visualization
        %td N Stage

      %tr(m-event-multiple)
        %td 3:00 - 3:30 PM
        %td Mywebsiteisaweso.me: Setting up a free .me domain with Namecheap
        %td S Stage

      %tr
        %td 
        %td Intro to Node JS
        %td N Stage

      %tr(m-event-multiple)
        %td 3:45 - 4:15 PM
        %td Building Apps with Angular, Ionic and Backand
        %td N Stage

      %tr
        %td 
        %td What Y Combinator Taught Me About Education
        %td S Stage

      %tr(m-event-multiple)
        %td 4:30 - 5:00 PM
        %td Hacking Life with Twist Bioscience - CEO, Twist
        %td S Stage

      %tr
        %td 
        %td Real Time Applications - Founder, Socket.io
        %td N Stage

      %tr(m-event-keynote)
        %td 5:00 - 6:00 PM
        %td
          %small Panel
          %div
            %a(href="https://www.facebook.com/events/1722589621294529/" title="How Technology is Changing Education") How Technology is Changing Education
        %td N Stage

      %tr(m-event-small)
        %td 6:00 - 8:00 PM
        %td Dinner
        %td West & East Food Areas

      %tr(m-event-keynote)
        %td 7:00 - 8:00 PM
        %td
          %small Panel
          %div
            %a(href="https://www.facebook.com/events/1722589621294529/" title="Open Source in Business") Open Source in Business
        %td Main Stage

      %tr(m-event-multiple)
        %td 8:00 - 8:45 PM
        %td Clusterpoint Cloud Database Inside Out - CTO, Clusterpoint
        %td N Stage

      %tr
        %td 9:00 - 9:30 PM
        %td HackingEDU Recruitment Event
        %td S Stage

      %tr
        %td 9:30 - 11:00 PM
        %td Freestyle Battle & Dance Party!
        %td N Stage

      %tr
        %td 11:00 - 1:00 PM
        %td Movie Night!
        %td S Stage

      %tr(m-event-small)
        %td 12:00 AM
        %td Midnight Snack
        %td West & East Food Areas

      %tr
        %td 2:00 AM
        %td HS Hackers Meetup
        %td S Stage

      %tr(m-event-small)
        %td 3:00 AM
        %td Napathon Halls Open
        %td N & S Stage

  %h2.section-header
    %span Sunday, October 25th
  %table.schedule--table
    %tbody
      %tr(m-event-small)
        %td 7:00 - 9:00 AM
        %td Breakfast
        %td West & East Food Areas

      %tr
        %td(colspan="3")
          %h3.schedule--table-label Last Hour of Hacking!

      %tr
        %td 10:00 AM
        %td HACKING ENDS
        %td 

      %tr(m-event-small)
        %td 11:00 AM - 2:00 PM
        %td Food Truck Lunch-a-Thon!  Brought to you by: Namecheap and .Club
        %td East Gate

      %tr
        %td(colspan="3")
          %h3.schedule--table-label Demos

      %tr
        %td 1:00 - 1:45 PM
        %td Demos Round 1
        %td Main Area

      %tr
        %td 2:00 - 2:45 PM
        %td Demos Round 2
        %td Main Area

      %tr
        %td 3:00 - 3:30 PM
        %td HARDWARE RETURN
        %td Hardware Lab

      %tr
        %td(colspan="3")
          %h3.schedule--table-label Closing Ceremony

      %tr
        %td 3:30 - 4:30 PM
        %td Final Judging
        %td Main Stage

      %tr(m-event-small)
        %td 4:30 - 5:00 PM
        %td Closing Keynote: Tony Conrad - Founder/CEO About.me & Sphere
        %td Main Stage

      %tr
        %td 5:00 - 5:30 PM
        %td Awards Ceremony
        %td Main Stage

      %tr
        %td 5:30 - 6:00 PM
        %td Closing Talks
        %td Main Stage

      %tr
        %td 6:30 PM
        %td SHUTTLES DEPART
        %td East Gate

