%section.section-padding.container#transportation
  %h2.section-header
    %span.section-header--label Transportation Schedule
  %table.transportation--table
    %thead
      %tr
        %th School
        %th Departure Location
        %th Departure Time

    %tbody
      %tr
        %td
          %a(href="https://www.eventbrite.com/e/hackingedu-uc-davis-bus-signup-tickets-19131145772") UC Davis
        %td
          %label Memorial Union Bus Terminal
          %div 457 Memorial Union, Davis, CA
        %td
          %div 1:30 PM
          %div 2:00 PM
          %div 4:30 PM

      %tr
        %td 6:30 - 7:30 PM
        %td Team Building
        %td N Stage
