%section.section-padding.container#transportation
  %h2.section-header
    %span.section-header--label Transportation Schedule
  %table.transportation--table
    %thead
      %tr
        %th School
        %th Departure Location
        %th Departure Time

    %tbody
      %tr
        %td
          %a(href="https://www.eventbrite.com/e/hackingedu-uc-davis-bus-signup-tickets-19131145772") UC Davis
        %td
          %label Memorial Union Bus Terminal
          %div 457 Memorial Union, Davis, CA
        %td
          %div 1:30 PM
          %div 2:00 PM
          %div 4:30 PM

      %tr
        %td
          %a(href="https://www.eventbrite.com/e/hackingedu-ucla-bus-signup-tickets-19133285171") UCLA
        %td
          -# %label Memorial Union Bus Terminal
          %div 280 Charles E Young Dr. Los Angeles, CA 90095
        %td
          %div 10:00 AM

      %tr
        %td
          %a(href="https://www.eventbrite.com/e/hackingedu-uc-irvine-bus-signup-tickets-19133277147") UC Irvine
        %td
          %label Bus Loop
          %div Irvine, CA 92612
        %td
          %div 10:00 AM

      %tr
        %td
          %a(href="https://www.eventbrite.com/e/hackingedu-uc-san-diego-bus-signup-tickets-19133292192") UC San Diego
        %td
          %label Lot P704
          %div Voigt Dr. La Jolla, CA 92093
        %td
          %div 10:00 AM

      %tr
        %td
          %a(href="https://www.eventbrite.com/e/hackingedu-stanford-bus-signup-tickets-19133270126") Stanford University
        %td
          %label Tresidder Parking Lot
          %div 459 Lagunita Dr. Stanford, CA 94305
        %td
          %div 6:00 PM

      %tr
        %td
          %a(href="https://www.eventbrite.com/e/hackingedu-uc-santa-cruz-bus-signup-tickets-19133225994") UC Santa Cruz
        %td
          %label East Remote Parking Lot
          %div Hagar Drive Santa Cruz, CA 95064
        %td
          %div 1:00 PM

      %tr
        %td
          %a(href="https://www.eventbrite.com/e/hackingedu-uc-berkeley-bus-signup-tickets-19133013358") UC Berkeley
        %td
          %label W. Entrance & University Dr. Berkeley, CA 94720
          -# %div Hagar Drive Santa Cruz, CA 95064
        %td
          %div 2:30 PM
          %div 5:00 PM
          %div 5:30 PM

      %tr
        %td
          %a(href="https://www.eventbrite.com/e/hackingedu-sjsu-bus-sign-up-tickets-19133252072") San Jose State University
        %td
          %label Duncan Hall Washington Sq. San Jose, CA 95192
          -# %div Hagar Drive Santa Cruz, CA 95064
        %td
          %div 3:30 PM
          %div 5:00 PM
          %div 5:10 PM
          %div 5:30 PM

      %tr
        %td
          %a(href="https://www.eventbrite.com/e/hackingedu-sfsu-bus-signup-tickets-19133265111") San Francisco State University
        %td
          -# %a(href="http://bit.ly/200XKaO")
          %label SF State Housing, Mary Ward Hall
          %div San Francisco State University, 800 Font Boulevard, San Francisco, CA 94132
        %td
          %div 3:30 PM
          %div 5:00 PM
          %div 5:10 PM
          %div 5:30 PM
