%section.section-padding.container.venue#venue
  %h2.section-header
    .section-header--label Venue Location & Details
  %iframe.venue--map(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3163.3681985367566!2d-122.3059452!3d37.5463881!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f9ee3b7d9b983%3A0x168a111f000c46ef!2sSan+Mateo+County+Event+Center!5e0!3m2!1sen!2sus!4v1445510107370" frameborder="0" style="border:0" allowfullscreen)