.schedule
  background-color: $off-white

  &--table
    width: 100%
    margin: auto
    border-collapse: collapse

    tr
      border-bottom: 1px solid $light-gray

      &[m-event-multiple]
        border-bottom: 0

      &[m-event-small] td
        height: 2rem
        font-weight: bold

      &[m-event-keynote] td
        height: 6rem
        font-weight: bold

        > small
          color: $orange
          text-transform: uppercase

    td
      border-spacing: 0
      border-width: 0
      height: 3rem
      padding-left: 0.8rem
      vertical-align: middle

      &:last-child
        text-align: right

      &:first-child
        text-align: left

    thead > tr
      border-bottom: 0

    &-label
      margin:
        top: 3rem
        bottom: 0.5rem
      color: $medium-gray
