%section.splash
  %div
  .splash--content
    .centered.splash--tagline
      .splash--tagline-top
        %small World's
        Largest
      .splash--tagline-bottom
        Education Hackathon

    .splash--countdown
      .splash--countdown-segment
        .splash--countdown-number(js-countdown="day") 01
        .splash--countdown-label Day
      .splash--countdown-segment
        .splash--countdown-number(js-countdown="hour") 14
        .splash--countdown-label Hours
      .splash--countdown-segment
        .splash--countdown-number(js-countdown="minute") 11
        .splash--countdown-label Minutes
      .splash--countdown-segment
        .splash--countdown-number(js-countdown="second") 10
        .splash--countdown-label Seconds

    .centered.leader.splash--location
      %div San Mateo Convention Center
      %small October 23rd - 25th
  .splash--arrow

%section.container.schedule
  %h2.schedule--day
    %span.schedule--day-label Schedule
    %span Friday, October 23rd
  %table.schedule--table
    %tbody
      %tr(m-event-small)
        %td 6:00 PM
        %td Doors Open
        %td

      %tr
        %td 6:00 - 8:00 PM
        %td Dinner
        %td West Food Area

      %tr
        %td 6:30 - 7:30 PM
        %td Team Building
        %td N Stage

      %tr
        %td(colspan="3")
          %h3.schedule--table-label Opening Talks

      %tr(m-event-keynote)
        %td 7:30 - 8:00 PM
        %td
          %small Fireside Chat
          %div Sam Altman - President, Y Combinator
        %td Main Stage

      %tr(m-event-keynote)
        %td 8:00 - 9:00 PM
        %td
          %small Hackathon Founders Panel
          %div
            %a(href="https://www.facebook.com/events/1722589621294529/" title="Hackathon Founders Panel") Idea to Reality: How to Start a Hackathon
        %td Main Stage

      %tr
        %td(colspan="3")
          %h3.schedule--table-label API Demos

      %tr(m-event-multiple)
        %td 9:00 - 9:15 PM
        %td Building quickly and easily on IBM Bluemix
        %td N Stage

      %tr
        %td 
        %td How to build a Pebble App in 5 minutes
        %td S Stage

      %tr(m-event-multiple)
        %td 9:20 - 9:35 PM
        %td Automattic / WordPress.com API
        %td Main Stage

      %tr(m-event-multiple)
        %td 
        %td Designing High scale, low latency systems
        %td N Stage

      %tr
        %td 
        %td Capital One API
        %td S Stage

      %tr(m-event-multiple)
        %td 9:40 - 9:55 PM
        %td Clusterpoint Cloud
        %td N Stage

      %tr
        %td 
        %td Target APIs
        %td S Stage

      %tr(m-event-multiple)
        %td 10:00 - 10:15 PM
        %td Hack with Chegg!
        %td Main Stage

      %tr(m-event-multiple)
        %td 
        %td Getting Started With Twilio
        %td N Stage

      %tr
        %td 
        %td Up & Running with Backand
        %td S Stage

      %tr(m-event-multiple)
        %td 10:20 - 10:35 PM
        %td Make Your App Speak
        %td N Stage

      %tr
        %td 
        %td Braintree API Demo
        %td S Stage
      
      %tr(m-event-keynote)
        %td 7:30 - 8:00 PM
        %td
          %small Opening Ceremony & Keynote
          %div Mike Osier - CIO, Chegg
        %td Main Stage

      %tr
        %td(colspan="3")
          %h3.schedule--table-label Hacking Commences

      %tr
        %td 12:00 AM
        %td Midnight Snack
        %td West & East Food

